body {
    box-sizing: border-box;
    

    font-family: Roboto, sans-serif;
    background-color: #333333;
    color: #ffffff;
    font-size: 120%;
}

main {
    display: grid;
    padding-top: 60px;
    width: 900px;
    margin: auto;
}

.content {
    grid-column-start: 1;
    grid-column-end: 4;
}

.filler1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.filler2 {
    grid-column-start: 3;
    grid-column-end: 4;
}